
<div class="primary-page">
  <h1>Hello, World!</h1>
  <div class="about-me-text">
      <p>Gordon Akinpelu:<br>
        Automation QA Engineer/Aspiring Front End Developer</p>
  </div>
  

  <div class="buttons-container">

      <button type="button" class="btn btn-info btn-lg mybutton" data-toggle="modal" data-target="#myModal1">Tech</button>
      <button type="button" class="btn btn-info btn-lg mybutton" data-toggle="modal" data-target="#myModal2" >Management</button>
      <button type="button" class="btn btn-info btn-lg mybutton" data-toggle="modal" data-target="#myModal3">About Me</button>
      <button type="button" class="btn btn-info btn-lg mybutton" data-toggle="modal" data-target="#myModal4">Portfolio</button>

  </div>

  <!-- Tech Expierience Modal -->
  <div class="modal fade" id="myModal1" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><strong>Tech</strong></h4>
            <i class="material-icons">desktop_mac</i>
          </div>
          <div class="modal-body">
            <ul>
              <li>Create automated UI tests using Protractor and Jasmine</li>
              <li>Familiar with JavaScript and TypeScript</li>
              <li>Knowledge and experience working in Agile environments</li>
              <li>Mac OS proficient</li>
              <li>Familiar with Angular 6 and able to build web apps using REST API calls</li>
              <li>Manual test and write up defects/bugs</li>
              <li>Participate in planning, refinement, and retrospetive sessions</li>
              <li>Manual test and write up defects/bugs</li>
              <li>Knowldege and familiarity with Github, Git, Bitbucket, and command line interactions</li>
              <li>Familiarity with Jenkins and CI</li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Management Experience Modal -->
  <div class="modal fade" id="myModal2" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Management</h4>
            <i class="material-icons">group</i>
          </div>
          <div class="modal-body">
              <ul>
                  <li>As a Loss Mitigation Manager at OneWest Banks, trained and managed a staff of 18 negotiators and a subordinate supervisor</li>
                  <li>Created policy and procedures and training manuals for continuous learning</li>
                  <li>Achieved a 55% increase in production over two consecutive quarters</li>
                  <li>Attended legal depositions across the country as needed</li>
                  <li>Instrumental in helping the organization achieve a top 4-star rating for government programs</li>
                  <li>As a Vendor Manager, reconciled $100,000/mo in invoices and revised billing parameters to save $5,000/mo</li>
                </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- About Me Modal -->
  <div class="modal fade" id="myModal3" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">More About Me</h4>
            <i class="material-icons">perm_identity</i>
          </div>
          <div class="modal-body">
              <ul>
                  <li>Have a strong interest in continuous learning and improvement</li>
                  <li>Routinely create job aids and training documents to help myself and others on the team</li>
                  <li>Created and designed THIS website</li>
                  <li>Favorite places: Paris, Berlin, Istanbul, The Rocky Mountains</li>
                  <li>Long term goals: to become a Software Developer</li>
                  <li>Friends say about me: "what a super-ambitious nice guy who smells good and has a great smile"</li>
                </ul>
                <p>I rediscovered my love of programming about 2 1/2 years go. As a child, I would begin programming
                  on an Adam ColecoVision computer my parents had bought me so that I could have something to focus my
                  (still) verocious thirst for learning on. However, most of my professional background
                  was in the mortgage servicing industry, with most of my time being a manager in the Loss Mitigation
                  department of a major bank. After years of dealing with foreclosures, litigation behind the 
                  foreclosure process, having to negotiate losses for both private investors and Freddie Mac and 
                  Fannie Mae, I dove headfirst into programming (I had no more hair to lose over the stress of mortgage servicing!). By happenstance, I was introduced to QA Automation 
                  and instantly loved it. As I furthered my studies in how automation interacts with the different web
                  elements, I began to teach myself some web development in Angular as well. The product of this 
                  self-teaching is this site and the other sites I will link to in my portfolio. My goal is to become 
                  a front-end developer that can also automate his work for testing as well. 
                </p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
  <div class="modal fade" id="myModal4" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Portofolio</h4>
            <i class="material-icons">folder_shared</i>
          </div>
          <div class="modal-body">
            <p><strong>The FlatIron Co project:</strong> Inspired by large, "old school" companies, this is a rendition of a 
              landing site for a FlatIronCo insurance agent's book of current business and potential clients. Utilized a free API for
              the Clients data and and mock data for the "My Information" section</p>
              <a href="https://gakinpelu.github.io/deploy-test/#/home">The Flatiro Co</a>

              <p><strong>***More in the works, coming online soon***</strong> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


</div>

<app-footer></app-footer>