
<div class="primary-page">
  <h1>Hello, World!</h1>

  <div class="buttons-container">

      <button type="button" class="btn btn-info btn-lg mybutton" data-toggle="modal" data-target="#myModal1">Tech</button>
      <button type="button" class="btn btn-info btn-lg mybutton" data-toggle="modal" data-target="#myModal2" >Management</button>
      <button type="button" class="btn btn-info btn-lg mybutton" data-toggle="modal" data-target="#myModal3">About Me</button>
      <button type="button" class="btn btn-info btn-lg mybutton" data-toggle="modal" data-target="#myModal4">Portfolio</button>

  </div>

  <!-- Tech Expierience Modal -->
  <div class="modal fade" id="myModal1" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><strong>Tech</strong></h4>
            <i class="material-icons">desktop_mac</i>
          </div>
          <div class="modal-body">
            <ul>
              <li>Create automated UI tests using Protractor and Jasmine</li>
              <li>Familiar with JavaScript and TypeScript</li>
              <li>Knowledge and experience working in Agile environments</li>
              <li>Mac OS proficient</li>
              <li>Familiar with Angular 6 and able to build web apps using REST API calls</li>
              <li>Manual test and write up defects/bugs</li>
              <li>Participate in planning, refining, and retrospetive sessions</li>
              <li>Manual test and write up defects/bugs</li>
              <li>Knowldege and familiarity with Github, Git, Bitbucket, and command line interactions</li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Management Experience Modal -->
  <div class="modal fade" id="myModal2" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Manangement</h4>
            <i class="material-icons">group</i>
          </div>
          <div class="modal-body">
              <ul>
                  <li>Trained and managed a staff of 18 negotiators and a subordinate supervisor</li>
                  <li>Created policy and procedures and training manuals for continuous learning</li>
                  <li>Achieved a 55% increase in production over two consecutive quarters</li>
                  <li>Attended legal depositions across the country as needed</li>
                  <li>Instrumental in helping the organization achieve a top 4-star rating for government programs</li>
                  <li>As a Vendor Manager, reconciled $100,000/mo in invoices and revised billing parameters to save $5,000/mo</li>
                </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- About Me Modal -->
  <div class="modal fade" id="myModal3" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">More About Me</h4>
            <i class="material-icons">perm_identity</i>
          </div>
          <div class="modal-body">
              <ul>
                  <li>Have a strong interest in continuous learning and improvement</li>
                  <li>Routinely create job aids and training documents to help myself and others on the team</li>
                  <li>Created and designed THIS website</li>
                  <li>Favorite places: Paris, Berlin, Istanbul, The Rocky Mountains</li>
                  <li>Long term goals: to become a Software Developer</li>
                  <li>Friends say about me: "what a super-ambitious nice guy who smells good and has a great smile"</li>
                </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
  <div class="modal fade" id="myModal4" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Portofolio</h4>
            <i class="material-icons">folder_shared</i>
          </div>
          <div class="modal-body">
            <p>Links and content coming soon!</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


</div>

<app-footer></app-footer>